<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/producto.css">
<link rel="stylesheet" href="/css/main.css">

<body>
    <main>
        <!-- Incluir barra de navegación -->
        <%- include('../includes/navigation.ejs') %>

        <!-- Contenido principal centrado verticalmente -->
        <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
            <div class="w-50 text-center">
                <form action="/nuevo-password" method="POST" class="m-5 d-flex flex-column align-items-center" novalidate>
                    <h2>INGRESE SU NUEVA CONTRASEÑA</h2>

                    <% if (mensajeError) { %>
                        <div class="alert <%= estilo %>"><%= mensajeError %></div>
                    <% } %>

                    <!-- Espacio para contraseña -->
                    <div class="mb-3 w-50">
                        <label for="password" class="form-label">Contraseña (mín. 8 caracteres)</label>
                        <input type="password" name="password" class="form-control" id="password" minlength="8" required oninput="checkPasswordStrength()">
                        <small id="password-strength-text"></small>
                        <div id="password-strength-bar" style="height: 5px; width: 100%; background-color: #ddd;"></div>
                    </div>

                    <!-- Espacio para Reescribir Contraseña -->
                    <div class="mb-3 w-50">
                        <label for="confirmPassword" class="form-label">Vuelva a escribir la contraseña</label>
                        <input type="password" name="confirmPassword" class="form-control" id="confirmPassword" minlength="8" required>
                    </div>

                    <!-- Campos ocultos -->
                    <input type="hidden" name="idUsuario" value="<%= idUsuario %>">
                    <input type="hidden" name="tokenPassword" value="<%= tokenPassword %>">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                    <!-- Botón para enviar el formulario -->
                    <button type="submit" class="btn btn-verde w-75 mt-3">Guardar contraseña</button>

                    <script type="module">
                        import { checkPasswordStrength } from '/utils/checkPasswordStrength.js';
                        document.getElementById('password').addEventListener('input', checkPasswordStrength);
                    </script>
                </form>
            </div>
        </div>
    </main>

    <!-- Incluir pie de página -->
    <%- include('../includes/end.ejs') %>
</body>
